body{
    background-color: #eeeeee;
    font-family: 'Oswald', sans-serif;
}

h2{
    color: #008fd4;
}

.btn{
    background-color: #008fd4;
    color: #001f2d;
}

.form-label{
    font-size: large;
}

.error{
    color: red;
    display: block;
    font-size: large;
}

.nav-item .nav-link{
    color: #42b983;
    font-size: large;
}

.nav-item .nav-link.active{
    color: #42b983;
    background-color: #dddddd;
    border-bottom-color: #dddddd;
}